body {
    background-color: #fffafa;
    font-family: "Times New Roman", serif;
    color: #333;
    margin: 30px;
}

h1, h2 {
    color: #b22222;
    border-bottom: 2px dashed #b22222;
    padding-bottom: 5px;
}

img {
    border: 3px dashed #b22222;
}

a {
    color: #b22222;
}
